/* 
 * 	VC Post Slider - Lazy Load Plugin
 */
.vc-carousel .vc-item .vc-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }
.vc-carousel .vc-item img {
  transform-style: preserve-3d; }
